/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Noto Serif TC', 'Noto Serif JP', serif;
    background: #EFEFEF;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #999999;
}

.logoa {
    outline: none;
    width: 172.5px;
}

.logol {
    width: 100%;
}

.logos {
    display: none;
}

.blank {
    height: 5vh;
}

.foot {
    display: flex;
    position: fixed;
    top: calc(100vh - 60px);
    width: 100%;
    height: 60px;
    background: #999999;
}

.img4 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 8vh;
}

img {
	display: flex;
    width: 100%;
    filter: saturate(0%);
}

img:hover {
    filter: saturate(100%);
}

.slogan {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8vh;
}

h1 {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 300;
}

.nav {
    display: none;
    padding-right: 2.5rem;
    width: 400px;
    justify-content: space-between;
}

.nava {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.ham {
    display: flex;
    padding-right: 1rem;
    width: 40px;
    flex-direction: column;
}

#ham:checked ~ .menu {
    display: flex;
    position: relative;
    z-index: 1;
    right: calc(100vw - 56px);
    bottom: 5px;
    width: max-content;
    background: #999999;
}
li {
    width: 100vw;
}
li > a {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: white;
}

.ham0 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 150%;
}

#ham {
    display: none;
}

.menu {
    display: none;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 300;
    color: #ffffff;
}

@media screen and (max-aspect-ratio: 1/1) {
    .head {
        height: 40px;    
    }
    .logoa {
        width: 115px;
    }
    .logol {
        display: none;
    }
    .logos {
        display: flex;
        width: 115px;
        height: 40px;
    }
    .foot {
        height: 40px;
    }
    .img4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .slogan {
        display: flex;
        flex-direction: column;
    }
    .copy {
        font-size: 0.6rem;
        font-weight: 300;
    }
}

@media(max-width: 640px) {
    .head {
        height: 40px;    
    }
    .nav {
        display: none;
    }
    .ham {
        display: flex;
        padding-right: 1rem;
        width: 40px;
    }
    #ham:checked ~ .menu {
        display: flex;
        position: relative;
        z-index: 1;
        right: calc(100vw - 56px);
        bottom: 5px;
        width: max-content;
        background: #999999;
    }
    li {
        width: 100vw;
    }
    li > a {
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-decoration: none;
        color: white;
    }
    .foot {
        height: 40px;
    }
    h1 {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 0.7rem;
        font-weight: 100;
    }
    .copy {
        font-size: 0.6rem;
        font-weight: 300;
    }
}

@media screen and (max-aspect-ratio: 1/2) and (max-width: 640px) {
    .foot {
        position: fixed;
        bottom: 0;
    }
}

@media(max-width: 1115px) {
    .slogan {
        display: flex;
        flex-direction: column;
    } 
}

@media(max-height: 540px) {
    .head {
        height: 40px;    
    }
    .logoa {
        width: 115px;
    }
    .logol {
        display: none;
    }
    .logos {
        display: flex;
        width: 115px;
        height: 40px;
    }
    .foot {
        height: 40px;
    }
    h3 {
        font-size: 0.6rem;
        font-weight: 300;
    }
}